# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node (if frontend exists)
node_modules/
dist/
build/